body
{
font-family:"tempus sans itc";
background:url(../images/stars.gif) fixed;
}

a
{
color:black;
background-color:ffdddd;
text-decoration:none;
}

.outerTable
{
padding:5px;
border:5px ridge pink;
background:url(../images/garden.jpg) fixed;
}

.header
{
border:3px ridge pink;
background:url(../images/tutu.jpg);
width:750px;
}

.mainContent
{
padding:10px;
font-family:"tempus sans itc";
width:750px;
font-size:18px;
}

.webLogo, .navigation
{
font-family:"lucida handwriting";
color:#ffdddd;
}

.navigation a:hover
{
font-size:18
}

.titleFont
{
font-size:25px;
font-weight:bold;
}

.bodyFont
{
font-size:18
}
